*, *:before, *:after {
	-webkit-box-sizing:inherit;
	-moz-box-sizing:inherit;
	box-sizing:inherit;
}
* {
  margin:0;
  padding:0;
  border: 0 none;
  position: relative;
}
html {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body {
  margin:0;
	padding:0;
  overflow: hidden;
  color: white;
  font-family: 'Fira Code', monospace;
}

body>div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: background-color 1s;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
}

button {
  font-family: 'Fira Code', monospace;
  color: white;
  border: none;
  padding: 30px 50px;
  font-size: 36px;
  background-color: #444;
  box-shadow: 7px 7px 0px #333;
  margin: 0px 7px 7px 0px;
  transition: all 0.05s;
}

button:hover {
  margin: 7px 0px 0px 7px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #333;
}

button.random {
  background-color: #49ca81;
  box-shadow: 7px 7px 0px #3c8a5e;
}

button.random:hover {
  box-shadow: 0px 0px 0px #3c8a5e;
}

div.buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
}

button.stop {
  background-color: #a059c8;
  box-shadow: 7px 7px 0px #753c95;
}

button.stop:hover {
  box-shadow: 0px 0px 0px #753c95;
}

button.pause {
  background-color: #c85997;
  box-shadow: 7px 7px 0px #992667;
}

button.pause:hover {
  box-shadow: 0px 0px 0px #992667;
}

button.resume {
  background-color: #5fc7a9;
  box-shadow: 7px 7px 0px #2f9a7b;
}

button.resume:hover {
  box-shadow: 0px 0px 0px #2f9a7b;
}

h1 {
  font-size: 100px;
  margin-bottom: 40px;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  padding: 20px;
  margin-bottom: 40px;
}

#clock {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 70px;
  background-color: #a059c8;
  padding: 10px 20px;
  color: white;
  box-shadow: 7px 7px 0px #753c95;
  margin-right: 7px;
}

#repetition {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
}

#initial {
  background-color: black;
}

#training {
  display: none;
}

#training.countdown {
  background-color: black;
}

#training.intense {
  background-color: #ce315d;
  color: white;
}

#training.soft {
  background-color: #e3a554;
  color: black;
}

#training.rest {
  background-color: #49ca81;
  color: white;
}

@media (max-width:1400px) {
  button {
    font-size: 30px;
    padding: 15px 30px;
  }
  h1 {
    font-size: 70px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  #clock {
    font-size: 50px;
    padding: 5px 10px;
  }
  #repetition {
    font-size: 20px;
  }
}


